<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      .button {
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
      }

      .button1 {
        background-color: #4caf50;
      } /* Green */
      .button2 {
        background-color: #008cba;
      } /* Blue */
    </style>
    <title>Library Management System</title>
  </head>
  <body>
    <h1>Welcome to Library Management System</h1>
    <a href="admin_login">
      <button class="button button1">Admin</button>
    </a>
    <a href="student">
      <button class="button button2">Student</button>
    </a>
  </body>
</html>
