<style>
  .button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: turquoise;
    top: 50%;
    left: 45%;
    transform: translate(0, -50%);
    position: absolute;
  }

  strong {
    top: 40%;
    left: 35%;
    transform: translate(0, -50%);
    position: absolute;
  }
</style>
<center>
  <strong>Click below to view all the available books in the Library</strong>
  <br />
  <a href="booklist">
    <button class="button">View Books</button>
  </a>
</center>
